*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B9AAA;
    color: #F5F1E3;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin ;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
    background-color: #DDDBCB;
    color: #050505;
}

#rstbtn{
    padding: 1rem;
    font-size: 1.25rem;
    color: #DDDBCB;
    background-color: #050505;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
}

#new-btn{
    margin-top: 2vmin;
    padding: 1rem;
    font-size: 1.25rem;
    color: #DDDBCB;
    background-color: #050505;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
}

#msg{
    color: #DDDBCB;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vmin;

}

.hide{
    display: none;
}

h1{
    font-size: 50px;
}